<div class="profile-container" *ngIf="profileData;">
  <div class="profile-card">
    <h2 class="profile-title">Profile</h2>
    <div class="profile-info">
      <p><strong>Name:</strong> {{ profileData.name }}</p>
      <p><strong>Email:</strong> {{ profileData.email }}</p>
      <p><strong>Address:</strong> {{ profileData.address }}</p>
      <p><strong>Gender:</strong> {{ profileData.gender }}</p>
      <p><strong>Contact:</strong> {{ profileData.contact }}</p>
    </div>
     <div>
         <a routerLink="/home">Go to change-box</a>
     </div>
  </div>
</div>
